<h1>分享测试页面</h1>

<script>
  var wxData = {
    "imgUrl": 'http://weixin.doolines.com',
    "link": 'http://weixin.doolines.com/wechat/ticket/share_test',
    "title": "doolines",
    "desc": "这是个测试"
  };
</script>
<%= javascript_include_tag "WeiXinApi.js", "wechat_share.js" %>

